/* WEB */
body{
    display: flex;
    font-size: 1.1em;
    background: white;
    margin: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.descripcion, p, a, .envio_gratuito, header nav ul li a, .login-icon, .caja {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}
.envio_gratuito{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    background-color: #6fcf24;
}
.envio_gratuito i{
    margin-left: 5px;
}
.envio_gratuito h1{
    width: 100%;
    margin-right: 10px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    height: 100px;
    color: #6fcf24;
    position: sticky;
    top: 0px;
    z-index: 1;
}
header h1{
    display: flex;
    width: 30%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}
header nav{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
header nav ul{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
}
header nav ul li a{
    text-decoration: none;
    color: #6fcf24;
}
header nav ul li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
header nav ul li a:hover{
    color: #f2c94c;
    transition: color 1.7s ease;
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.login-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: large;
    color: #6fcf24;
    margin: 10px;
}
.login-icon:hover {
    color: #f2c94c;
    transition: color 1.7s ease;
}
.login-icon i {
    margin-right: 10px;
}
.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
    z-index: 0;
    background-image: url(./amarillo_fondo.jpeg);
}
.contenedor {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.titulo {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Playfair Display', serif;
}

.descripcion {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
}
.cajas-inferiores {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.caja {
    background-color: #d8f8e1;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 150px;
    max-width: 250px;
    font-weight: bold;
    color: #2b4d3b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.caja:hover{
    background-color: #6fcf24;
    color: white;
    cursor: pointer;
}
#contenedor{
    display: flex;
    flex-direction: row;
    height: 2300px;
    width: 100%;
    margin: 0;
    padding: 0 70px 0;
}
#presentacion{
    width: 100%;
    height: 400px;
    padding-top: 40px;
    text-align: center;
}
#presentacion h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #6fcf24;
    padding-bottom: 30px;
}
hr{
    display: flex;
    width: 50%;
    margin: 50px auto;
    border: 1px solid #6fcf24;
}
#articulos{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.flores{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    width: 300px;
    height: 500px;
}
.flores p, h3{
    margin-top: 15px;
}
.flores img[src="fuera_stock.png"]{
    margin-top: 15px;
}
.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;
    margin-left: 50px;
}
.agregar{
    margin-top: 30px;
    height: 30px;
    width: 180px;
    background-color:#d8f8e1;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    color: #2b4d3b;
}
.agregar:hover{
    background-color: #6fcf24;
    cursor: pointer;
    color: white;
}
.titulo_articulos{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #6fcf24;
}
.realizar_compra{
    width: 250px;
    height: 80px;
    background-color: #d8f8e1;
    border: none;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: large;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.realizar_compra:hover{
    background-color: #6fcf24;
    cursor: pointer;
}
#caja_b{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    display: flex;
}
#pie-pagina{
    width: 100%;
    background-color: #6fcf24;
    color: white;
    font-family: 'Playfair Display', serif;
}
#pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
#pie-pagina .grupo-1 .caja_footer h1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pie-pagina .grupo-1 .red_social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
}
#pie-pagina .grupo-1 .red_social a:hover{
    color: #f2c94c;
    transition: color 1.7s ease;
    cursor: pointer;
}
#pie-pagina .grupo-1 .caja_footer p{
    margin-top: 10px;
}
#pie-pagina .grupo-2{
    background-color: white;
    padding: 15px 10px;
    text-align: center;
    color: #6fcf24;
}



/* CARRITO DE COMPRA */
#carrito{
    background-color: white;
    position: fixed;
    top: 160px;
    right: 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Playfair Display', serif;
    overflow-y: scroll;
    border: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#carrito_nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 30px;
    justify-content: center;
    line-height: 18px;
    width: 100%;
}
#carrito_nav button{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color:#d8f8e1;
    color: #2b4d3b;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
#carrito_nav button:hover{
    background-color: #6fcf24;
    color: white;
    cursor: pointer;
}
#carrito h1{
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 18px;
    color: #6fcf24;
    margin-left: 18px;
}
#carrito hr{
    margin-top: 0;
    margin-bottom: 10px;
}
#carrito .item{
    font-size: 10px;
    padding: 10px;
    margin-bottom: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    word-break: break-all;
}
#carrito .item h3{
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}
#carrito .item img{
    border-radius: 20px;
}
#id0, #id1, #id2, #id3{
    width: 30px;
}
button[id="eliminar"]{
    text-align: center;
    background-color: #d8f8e1;
    color: #2b4d3b;
    width: 20px;
    height: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
button:hover[id="eliminar"]{
    background-color: #6fcf24;
    color: white;
    cursor: pointer;
}
button[id="agregar"]{
    text-align: center;
    background-color: #d8f8e1;
    color: #2b4d3b;
    width: 20px;
    height: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
button:hover[id="agregar"]{
    background-color: #6fcf24;
    color: white;
    cursor: pointer;
}
button[id="finalizar"]{
    text-align: center;
    background-color: #d8f8e1;
    color: #2b4d3b;
    width: 180px;
    height: 60px;
    font-weight: bold;
    border: none;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
button:hover[id="finalizar"]{
    background-color: #6fcf24;
    color: white;
    cursor: pointer;
}
input[type="number"]{
    background-color: white;
    border: none;
}



