*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: #970043;
}
div{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #ffd100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #970043;
    width: 20%;
    padding: 0 30px;
}
aside img{
    max-width: 100%;
}
section{
    width: 60%;
    background-color: #f2f2f2;
    padding: 10px;
}
figure{
    display: flex;
    justify-content: center;
    padding-right: 10px;
}
figure img{
    border-radius: 10px;
    max-width: 100%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd100;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.fr::first-letter{
    font-weight: bold;
    font-size: 150%;
}
@media screen and (max-width: 768px){
    div{
        display: flex;
    }
    header{
        order: -1;
    }
    main{
        display: flex;
        flex-direction: column;
        order: 0;
    }
    aside{
        width: auto;
    }
    section{
        width: auto;
    }
    footer{
        width: auto;
        order: 2;
    }
}
